[tool.towncrier]
    package = "dkist_processing_common"
    filename = "CHANGELOG.rst"
    directory = "changelog/"
    issue_format = "`#{issue} <https://bitbucket.org/dkistdc/dkist-processing-common/pull-requests/{issue}>`__"
    title_format = "{version} ({project_date})"
    ignore = [".gitempty"]

[[tool.towncrier.type]]
      directory = "feature"
      name = "Features"
      showcontent = true

[[tool.towncrier.type]]
      directory = "bugfix"
      name = "Bugfixes"
      showcontent = true

[[tool.towncrier.type]]
      directory = "removal"
      name = "Removals"
      showcontent = true

[[tool.towncrier.type]]
      directory = "misc"
      name = "Misc"
      showcontent = true

[[tool.towncrier.type]]
      directory = "doc"
      name = "Documentation"
      showcontent = true
