$font-family-sans-serif: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;

// From bootswatch Superhero
$brand-success:         #5cb85c;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

// Fade down table row colors to prevent them looking like a bag of skittles
$table-bg-fade-percent: 20%;
